In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
# Loading the housing price dataset (assuming the file name is "housing_price.csv")
df = pd.read_csv("C:/Users/YuriKorin/1_IRONHACK_COURSE/COURSE/GIT/amz_uk_price_prediction_dataset.csv")
df.head()

,uid,asin,title,stars,reviews,price,isBestSeller,boughtInLastMonth,category
0,1,B09B96TG33,"Echo Dot (5th generation, 2022 release) | Big ...",4.7,15308,21.99,False,0,Hi-Fi Speakers
1,2,B01HTH3C8S,"Anker Soundcore mini, Super-Portable Bluetooth...",4.7,98099,23.99,True,0,Hi-Fi Speakers
2,3,B09B8YWXDF,"Echo Dot (5th generation, 2022 release) | Big ...",4.7,15308,21.99,False,0,Hi-Fi Speakers
3,4,B09B8T5VGV,"Echo Dot with clock (5th generation, 2022 rele...",4.7,7205,31.99,False,0,Hi-Fi Speakers
4,5,B09WX6QD65,Introducing Echo Pop | Full sound compact Wi-F...,4.6,1881,17.99,False,0,Hi-Fi Speakers

In [ ]:
#Part 1: Analyzing Best-Seller Trends Across Product Categories

In [3]:
crosstab_result = pd.crosstab(df['category'], df['isBestSeller'])
crosstab_result

isBestSeller                    False  True
category
3D Printers                       247      1
3D Printing & Scanning           4065      2
Abrasive & Finishing Products     245      5
Action Cameras                   1696      1
Adapters                          251      3
...                               ...    ...
Wind Instruments                  243      7
Window Treatments                 234      5
Women                           17559    213
Women's Sports & Outdoor Shoes   1939     20
eBook Readers & Accessories       246      0

[296 rows x 2 columns]

In [4]:
sorted_result = crosstab_result.sort_values(by=True, ascending=False)
sorted_result[:10]

isBestSeller             False  True
category
Grocery                   9008    556
Health & Personal Care    9017    552
Baby                     14709    341
Sports & Outdoors       835935    330
Power & Hand Tools        8353    306
Beauty                   19010    302
Pet Supplies              9152    285
Arts & Crafts             9319    230
Women                    17559    213
Men                      17248    169

In [5]:
crosstab_result['perc'] = round(crosstab_result[True] / (crosstab_result[False] + crosstab_result[True]),2)
crosstab_result

isBestSeller                    False  True  perc
category
3D Printers                       247     1  0.00
3D Printing & Scanning           4065     2  0.00
Abrasive & Finishing Products     245     5  0.02
Action Cameras                   1696     1  0.00
Adapters                          251     3  0.01
...                               ...   ...   ...
Wind Instruments                  243     7  0.03
Window Treatments                 234     5  0.02
Women                           17559   213  0.01
Women's Sports & Outdoor Shoes   1939    20  0.01
eBook Readers & Accessories       246     0  0.00

[296 rows x 3 columns]

In [6]:
sorted_result_perc = crosstab_result.sort_values(by='perc', ascending=False)
sorted_result_perc[:10]

isBestSeller                    False  True  perc
category
Smart Home Security & Lighting     98     6  0.06
Health & Personal Care           9017   552  0.06
Grocery                          9008   556  0.06
Power & Hand Tools               8353   306  0.04
Mobile Phone Accessories          248    11  0.04
Home Brewing & Wine Making        239     7  0.03
Wind Instruments                  243     7  0.03
Billiard, Snooker & Pool          241     8  0.03
Bakeware                          233     6  0.03
Pet Supplies                     9152   285  0.03

In [ ]:
#Part 2: Exploring Product Prices and Ratings Across Categories and Brands

In [7]:
quart1 = np.percentile(df.price, 25)
quart3 = np.percentile(df.price, 75)

In [8]:
quart3-quart1 #range

36.0